$font-heading: "DM Serif Display", serif;
$font-body: "IBM Plex Sans", sans-serif;
// $font-body: "Playfair Display", serif;
$font-logo: "Meddon", cursive;
$color-bg: #f4cee3;
$color-bg-light: #f8e2ee;
$color-blur: #b79aaa;

$color-heading: #d24720;
$color-text: #222831;
$color-blurtext: #ac1703;
