@use "normalize";
@use "variables" as var;
@use "global.scss";
@use "media-queries" as q;
@use "mixins";

#nav-toggle:checked ~ .header__nav-list {
  max-height: 350px;
  padding-right: 2rem;
}

#nav-toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}

.header {
  position: sticky;
  background-color: var.$color-bg-light;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    position: relative;
  }

  &__logo {
    font-family: var.$font-logo;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: 800;
    color: var.$color-heading;
    padding-left: 1rem;
  }

  &__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.3s ease;
    opacity: 0.75;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var.$color-blur;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: right;
    align-items: flex-end;
    padding-right: 2rem;
    z-index: 20;
    position: absolute;
  }

  &__nav-link {
    font-family: var.$font-heading;
    font-style: italic;
    font-size: 2rem;
    text-decoration: none;
    color: var.$color-blurtext;
  }

  &__burger {
    font-size: 2.5rem;
    cursor: pointer;
    color: var.$color-heading;
    padding-right: 2rem;
  }
}

.overlay {
  position: fixed;
  top: 5.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 5;
}

// for snap scroll
// .main {
//   height: 100vh;
//   overflow-y: auto;
//   scroll-snap-type: y mandatory;
//   padding: 0 0.5rem;

// &__section {
//     height: 100vh;
//     scroll-snap-align: start;
// }
// }

.hero {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__intro {
    font-style: italic;
    text-align: center;
  }
  &__title {
    justify-content: center;
    align-items: center;
    font-size: 5rem;
  }

  &__tagline {
    font-size: 1.1rem;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
}

.about {
  min-height: 50vh;

  &__text {
    font-style: italic;
    line-height: 1.4rem;
  }
}

.techstack {
  &__grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-top: 2rem;
  }

  &__item {
    flex: 0 0 calc(50% - 1rem);
    justify-content: center;
    text-align: center;
    border: 1px solid var.$color-heading;
    border-radius: 30px 0 30px 0;
    // border-radius: 40% / 20%;
    background-color: var.$color-bg-light;
    padding: 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
}

.projects {
}

@include q.laptop {
  .header {
    &__burger,
    &__checkbox {
      display: none;
    }

    &__nav-list {
      max-height: none;
      overflow: visible;
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  }
  .hero {
    display: flex;

    &__intro {
      flex: 1;
      text-align: left;
    }

    &__media {
      flex: 1;
      min-width: 0;
    }
  }
}
