@use "variables" as var;
@use "media-queries" as q;

.header {
  position: relative;

  &__logo {
    position: absolute;
    top: 1.5rem;
    left: 1.8rem;
    background-color: var.$color-bg-light;
    border: 2px solid var.$color-text;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    font-family: var.$font-logo;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 800;
    color: var.$color-heading;
    @include q.laptop {
      top: 1rem;
      bottom: 7rem;
      left: 2.5rem;
      border: 3px solid var.$color-text;
      width: 5rem;
      height: 5rem;
      font-size: 1.5rem;
    }
  }
}
