@use "variables" as var;
@use "media-queries" as q;
@use "sass:color";
@use "mixins";

.keyboard {
  @include mixins.card-border;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  margin-top: 1.5rem;

  &__frame {
    @include q.tablet {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(14, minmax(0, 1fr));
      gap: 1rem;
      justify-items: center;
    }
  }

  &__key {
    background: var.$color-bg-light;
    border: 2px solid var.$color-dark;
    box-shadow: 3px 3px 0 var.$color-dark;
    border-radius: 5px;
    color: var.$color-dark;

    margin: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;

    @include q.tablet {
      font-size: 1.5rem;
      margin: 0.3rem;
      min-width: 2rem;
    }
    @include q.laptop {
      font-size: 2rem;
      min-width: 3rem;
    }
  }

  @include q.tablet {
    .keyboard__key:nth-child(15) {
      grid-column-start: 2;
    }
  }

  &__key:disabled {
    background: color.scale(var.$color-bg-light, $lightness: 10%);
    border-color: var.$color-dark;
    opacity: 0.2;
    cursor: not-allowed;
    box-shadow: none;
  }

  &__special-keys {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__reset {
    padding: 0.6rem 3rem;
    display: inline-flex;
    margin: 0 auto;
    @include q.tablet {
      width: auto;
    }
  }
}
