$font-heading: "DM Serif Display", serif;
$font-body: "IBM Plex Sans", sans-serif;
$font-logo: "Meddon", cursive;

$color-bg: #f7f2e6;
$color-bg-line: #88d1f3;
$color-bg-light: #fffefe;
$color-dark: #37353e;
$color-shadow: rgba(0, 0, 0, 0.1);

$color-english: #5463ff;
$color-morse: #fd8c04;
$color-mixed: #dc3c22;

$color-heading: #8b6f47;
$color-text: #a68a5c;
